<div class="gridNav">
<div id="toggle">
<div class="burger">
+
</div>
</div>
<!-- gridNav -->
</div>

<div class="gridMenu">
<div class="menu closed">
<div class="navList">
{{#each collections}}
				<div class="navItem">
					<a href="{{rootPath}}{{this.0.path}}">{{capitalize @key}}</a>					
				</div>
{{/each}}
    <ul class="recent">
    {{#each articles }}
      <li>
        <div class="title"><a href="{{rootPath}}{{ path }}">{{ title }}</a></div>
        <div class="date">{{ date }}</div>
      </li>
    {{/each}}
    </ul>
<!-- navList -->
<!-- menu closed -->
</div>
<!-- gridMenu -->
</div>
</div>

{{#if pdf}}
<div class="gridBadges sticky-top">
	<div class="badgeList">
		<a class="pdf">
			<img src="https://img.shields.io/badge/Get-PDF-2E3440.svg?style=for-the-badge" alt="Get this as a PDF" />
		</a>			
	</div>
</div>
{{/if}}