<!DOCTYPE html>
<html>
<head>
  {{> head}}
</head>
  <body>
    <h1>{{ site.name }}</h1>

    <ul class="recent">
    {{#each articles }}
      <li>
        <div class="title"><a href="{{ path }}">{{ title }}</a></div>
        <div class="date">{{ date }}</div>
      </li>
    {{/each}}
    </ul>
<script src="{{ rootPath }}js/main.js"></script>
  </body>
</html>