<!doctype html>
<html>
<head>
{{> head }}
</head>
<body>
<div class="mainGrid page">
{{> header }}
{{> nav }}
<div class="gridBody">
<div class="content">
    <section>
      <h3>Tag: <strong>{{tag}}</strong></h3>
      <ul>
{{#each pagination.files }}
        <li>
            <a href="{{baseUrl}}/{{this.path}}/index.html" title="{{this.title}}">
              <h5>{{this.title}}</h5>
            </a>
          </li>
      {{/each}}
      </ul>
</section>
</div>
</div>
   
{{> footer }}
</div>

<script src="{{ rootPath }}js/main.js"></script>
</body>
</html>